<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Connexion espace de gestion</title>
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/login.css">

  <style>
   
  </style>
</head>
<body>
  <main>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 px-0 d-none d-sm-block">
          <img src="/images/photos/unsplash-1.jpg" alt="login image" class="login-img">
          <p class="text-white font-weight-medium text-center flex-grow align-self-end footer-link">
            Free <a href="https://www.bootstrapdash.com/" target="_blank" class="text-white">Bootstrap dashboard templates</a> from Bootstrapdash
          </p>
        </div>
        <div class="col-sm-6 login-section-wrapper">
          <div class="brand-wrapper">
            <img src="/images/logo.png" alt="logo" class="logo">
          </div>
          <div class="login-wrapper my-auto">
            <h1 class="login-title">Bienvenue dans votre espace de gestion </h1>
            <form action="#!">
              <div class="form-group">
                <label for="email">Séléctionner l'armee</label>
                <select class="form-control">
                  <option>Default select</option>
                </select>
              </div>
              <div class="form-group">
                <label for="email">Nom d'utilisateur</label>
                <input type="email" name="email" id="email" class="form-control" >
              </div>
              <div class="form-group mb-4">
                <label for="password">mot de passe</label>
                <input type="password" name="password" id="password" class="form-control" >
              </div>
              <input name="login" id="login" class="btn btn-block login-btn" type="button" value="Connexion">
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>

</body>
</html>