<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="/fag">
            <span class="align-middle">Ges-Fag</span>
        </a>

        <ul class="sidebar-nav">

            <li class="sidebar-item">
                <a class="sidebar-link" href="/fag">
                    <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Accueil</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="/fag/gestion-etatmajor">
                    <i class="align-middle" data-feather="user"></i> <span class="align-middle">Gestion des états
                        majors</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="/fag/demandes-materiel">
                    <i class="align-middle" data-feather="archive"></i> <span class="align-middle">Demandes de
                        materiel</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a data-bs-target="#maps" data-bs-toggle="collapse" class="sidebar-link collapsed">
                    <i class="align-middle" data-feather="settings"></i> <span class="align-middle">Paramétres</span>
                </a>
                <ul id="maps" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
                    <li class="sidebar-item"><a class="sidebar-link" href="/fag/corps">Corps</a></li>
                    <li class="sidebar-item"><a class="sidebar-link" href="/fag/provinces">Provinces</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>